body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #e0e0e0;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

li {
    font-size: 18px;
    color: #e0e0e0;
    margin: 10px 0;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}
