<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Personal</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'detalle.css' %}">
</head>
<body>
    <div class="card">
        <h1>Detalle del Personal</h1>
        <ul>
            <li>Nombre: {{ persona.nombre }}</li>
            <li>Rol: {{ persona.rol }}</li>
            <li>Teléfono: {{ persona.telefono }}</li>
            <li>Turno: {{ persona.turno }}</li>
        </ul>
        <button onclick="location.href='{% url 'lista_personal' %}'">Volver a la Lista</button>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
