<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Medicamento</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'detalle.css' %}">
</head>
<body>
    <div class="card">
        <h1>Detalle del Medicamento</h1>
        <ul>
            <li>Nombre: {{ medicamento.nombre }}</li>
            <li>Descripción: {{ medicamento.descripcion }}</li>
            <li>Dosis: {{ medicamento.dosis }}</li>
            <li>Frecuencia: {{ medicamento.frecuencia }}</li>
        </ul>
        <button onclick="location.href='{% url 'lista_medicamentos' %}'">Volver a la lista</button>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
