<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Medicamentos</title>
</head>
<body>
    <h1>Lista de Medicamentos</h1>
    <ul>
        {% for medicamento in medicamentos %}
            <li>
                <a href="{% url 'detalle_medicamento' medicamento.id %}">
                    {{ medicamento.nombre }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
